@model Vidly.DTO.NewRentalDTO
@{
    ViewBag.Title = "RentalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RentalForm</h2>

<form id="rentalForm">
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerId)
        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerId)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MovieIds)
        @Html.ListBoxFor(m => m.MovieIds, new MultiSelectList(Model.Movies, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MovieIds)
    </div>
    <button id="btnCreateRental" type="button" class="btn btn-primary">
        submit
    </button>

</form>
   


@section scripts{
    @Scripts.Render("~/bundles/lib");
    <script>
        $(function () {
            $("#btnCreateRental").click(function () {
                $.ajax({
                    url: "/api/newrental",
                    method: "POST",
                    data: $("#rentalForm").serialize(),
                    success: function (res) {
                        alert("Ok");
                    },
                    error: function () {
                        alert("fail");
                    }

                });

            });

        });
    </script>
   
}