@model List<Vidly.Models.CustomerModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Count == 0)
{
    <text>We don't have any customer yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    @*<td><a href="@Url.Action("Detail","Customer", new {id = customer.Id })">@customer.Name</a></td>*@
                    <td>@Html.ActionLink(customer.Name, "Edit","Customer", new {id = customer.Id },null)</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            
            }
        </tbody>
    </table>
}

